*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Page Accueil */
.padding_general{
    padding-left: 7rem;
    padding-right: 7rem;
}
nav{ 
    background-color: #fff;
    position: fixed ;
    height: 7.9rem;
    top: 0;
    width:  100vw;
    z-index: 11;
}

.nav__container{
    padding-top: 7px;
    padding-left: 7rem;
    padding-right: 7rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

.nav__container ul{
    display: flex;
    align-items: center;
}

.nav__container ul li{
    
    list-style: none;
    margin-right: 3rem;
    
}
.nav__container ul li a{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.ecole{
    background-color: #283891;
    position: relative;
    top: 7.9rem;
    height: 79vh;
}

.ecole__container{
    padding-top: 100px;
    text-align: center;
    color: #fff;
}

.ecole__container h3{
    font-size: 32px;
}

.ecole__container h1{
    font-size: 50px;
    margin-bottom: 40px;
}

.ecole__container p{
    font-size: 20px;
    margin: 40px;
}

.ecole__container button {
    color: #283891;
    border: 1px solid transparent;
    border-radius: 15px;
    font-weight: bold;
    font-size: 30px;
    
}

.vers a {
    text-decoration: none;
    color:#283891;

}
.ecole{
    position: relative;
    background-color: #283891;

    color: #fff;
    text-align: center;
    top: 7.9rem;
    
}

.ecole p{
    margin-top: 30px;
}

.ecole button{
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 5px;
    color: #283891;
    border-color: transparent;
}

.formation{
   
    margin-top: 70px;
    font-size: 25px;
}

.extension{
    margin-left: 50px;
}

.formation > ul, .extension > ul{
    padding-left: 7rem;
}

.formation h4, .extension h4{
    color: #283891;
}

.extension p, .formation p{
    margin-left: 0;
    margin-bottom: 20px;
}

section{
    padding: 6rem 0;
}

.img{
    background-image: url("images/collegedonbosco.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.imge{
    background-image: url("images/illustration.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.footer{
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.footer > h2, img, p{
    margin: 10px;
}

.footer > p{
    font-size: 12px;
    padding-top: 5px;
}

.footer h4{
    padding-top: 10px;
}

.footer >  img{
    padding: 12px;
}

/* Page à propos */
.apropos{
    background-color: #f3dede;
}

 .lorem{
    background-image: url('images/imageapropos.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    
}

.lorem__cont{
    margin-top: 120px;
    font-size: 32px;
    color: #fff;
    text-align: center;
    align-items: center;
    top: 7.9rem;
    padding-left: 7rem;
    padding-right: 7rem;
}

.lorem__cont .contenu{
    padding-top: 8rem;
}


.vision .vis__cont{
    font-size: 25px;
    padding: 50px;
}

.vision p{
    padding-bottom: 20px;
}
.vision h4{
    color: #283891;
}

.vision ul{
    margin-left: 18px;
}
.vision ul li{
    padding-top: 10px;
}

.objectif{
    background-color: #fff;
    padding-bottom: 20px;
}

.objectif .cont{
    font-size: 25px;
    margin-left: 50px;
}

.objectif ul{
    margin-left: 18px;
}

.objectif ul li{
    padding-top: 1rem;
}

.objectif  .cont p{
    margin-left: 0;
}

.objectif  .cont h4{
    padding-bottom: 2rem;
    color: #283891;
    font-size: 25px;
}


.divform{
    padding: 3rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs input, textarea{
    margin-top: 1.5rem;
    width: 500px;
}

.inputs input{
    padding: .5rem;
    border-radius: 5px;
    border-color: transparent;
}

textarea, .inputs .btn{
    border-radius: 5px;
    width:515px ;
}

textarea{
    border-color: transparent;
}

.inputs .btn{
    background-color: #283891;
    color: #fff;
    border-color: transparent;
}

